


@mixin desktop-body-3{
  font-family: 'Apis';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
@mixin mobile-body-bold-1m{
  font-family: 'Apis';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
@mixin mobile-body-2m{
  font-family: 'Apis';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

@mixin desktop-h3-bold{
  font-family: Apis;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px; /* 137.5% */
}


@mixin desktop-label-2{
  /* Desktop/Label 2 */
  font-family: Apis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}