
@import './../../styles/functions';
@import './../../styles/typography';


:root {
  //MOBILE FIRST

  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --spacing-5xl: 96px;
  --spacing-6xl: 120px;
  --Breakpoints-Margins-desktop: 80px;

  --footer-sections-height: auto;
  --footer-section-width: auto;
  --footer-background: var(--color-dark-blue);
  --footer-text-gaps: var(--Breakpoints-Margins-desktop); //mobile

  --footer-side-padding: var(--spacing-2xl)  var(--spacing-l);
  --footer-font-size: 14px;

  --footer-logo-margin-top: 48px;

  --footer-container-alignment : flex-start;
  --footer-container-direction: column;

  --footer-address-info: 32px;
  --footer-rights-margin-up: 40px;
  --footer-logo-height: 60px;

  --footer-space-between-items: var(--spacing-2xl);
  --footer-gap-title-and-items: var(--spacing-2xl);
  --gap-between-sections: var(--spacing-4xl);


  @include media-breakpoint-up(tablet){
    --footer-padding-topdown: 48px;
    --footer-side-padding: var(--spacing-2xl)  var(--spacing-3xl);
    --gap-between-sections: var(--Breakpoints-Margins-desktop) var(--spacing-xl);
    --footer-sections-height: 821px;
    --footer-section-width: calc(50% - (var(--spacing-xl) / 2));
    --footer-gap-title-and-items: var(--spacing-2xl);
    --foter-text-gaps: var(--spacing-5xl);

    @include media-breakpoint-down(desktop){
      --footer-padding-topdown: 56px;
      //--footer-gap-title-and-items: var(--spacing-3xl);
    }
  }
}


.footer {
  background-color: var(--footer-background);
  color: var(--color-white);
  padding: var(--footer-side-padding);
  @include mobile-body-bold-1m;

  &__sections-container {
    display: flex;
    flex-direction: column;
    gap:var(--gap-between-sections);
    outline: 2px solid green;
    //height: var(--footer-sections-height);
    flex-wrap: wrap;

    @include media-breakpoint-up(tablet){
      flex-direction: unset;
    }

    @include  media-breakpoint-up(desktop){
      &.has-6-items {
        .footer__section {
          flex: 1 1 calc(30% - (var(--gap-between-sections) / 3)); /* For six items, 3 columns, 2 rows */
        }
      }

      &.has-5-items,
      &.has-4-items {
        .footer__section {
          flex: 1 1 calc(20% - (var(--gap-between-sections) / 5)); /* For four or five items, single row */
        }
      }

      &.has-3-items,
      &.has-2-items {
        .footer__section {
          flex: 1 1 calc(30% - (var(--gap-between-sections) / 3)); /* For two or three items, single row */
        }
      }

      &.has-1-item {
        .footer__section {
          flex: 1 1 30%; /* Single centered item, space on the right */
        }
      }
    }



  }

  &__section {
    row-gap: var(--footer-gap-title-and-items);
    display: flex;
    flex-direction: column;
    outline: 2px solid white;
    width: var(--footer-section-width);
    @include media-breakpoint-up(tablet){
      min-width: var(--footer-section-width);
    }
    &-title {
      margin-bottom: 0;
      @include mobile-body-bold-1m;
    }

    &-items {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      row-gap: var(--footer-space-between-items);

      li {
        @include mobile-body-2m;

        a {
          color: var(--color-white); //because Safari needs additional declaration of <a> colors, otherwise it will give blue colors to links.
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: var(--footer-container-alignment);
    flex-direction: var(--footer-container-direction);
  }

  &__text {
    flex: 0 0 80%; // Occupies 80% of the width
    text-align: left;
    margin-top: var(--footer-text-gaps);
    margin-bottom: var(--spacing-3xl);
  }

  &__logo {
    flex: 0 0 20%; // Occupies 20% of the width
    display: flex;
    justify-content: flex-end;
    height: var(--footer-logo-height);
    margin-top: var(--footer-logo-margin-top);

    img {

      width: auto;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    @include desktop-body-3;
    a {
      color: white;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer__separator {
      color: #ffffff;
      margin: 0 5px;
    }
  }

  &__info {
    margin-top: 10px;

    &--address{
      margin-top: var(--footer-address-info);
      @include desktop-body-3;
    }
    &--rights{
      margin-top: var(--footer-rights-margin-up);
      @include desktop-body-3;
    }
  }
}
