
:root {
  --footer-address-info: 32px;
  --footer-rights-margin-up: 40px;
}

.footer {
  background-color: #001a6c; // Dark blue background
  color: #ffffff; // White text
  padding: 20px;
  font-size: 14px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__text {
    flex: 0 0 80%; // Occupies 80% of the width
    text-align: left;
  }

  &__logo {
    flex: 0 0 20%; // Occupies 20% of the width
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 40px;
      width: auto;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    a {
      color: white;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer__separator {
      color: #ffffff;
      margin: 0 5px;
    }
  }

  &__info {
    margin-top: 10px;

    &--address{
      margin-top: var(--footer-address-info);
    }
    &--rights{
      margin-top: var(--footer-rights-margin-up);
    }
  }
}
